<p>Add a new definition:</p>

<form action='/definitions' method="post">
  <div class="form-group">
    <label for="partOfSpeech">Part of speech</label>
    <input id="partOfSpeech" name="partOfSpeech" class="form-control" type="text">
    <label for="definition">Enter Definition</label>
    <input id="definition" name="definition" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-info">Add</button>
</form>
