<h2>Result:</h2>
<h2>$successFailMessage</h2>

<a href="/words">View word list</a>
<br/>
<a href="/words/new">Add a word</a>

<!-- <button class="btn btn-info" onclick="goBack()">Go Back</button>
<script>
function goBack() {
    window.history.back();
}
</script> -->
