#if ($word)
  <h1>$word.getText()</h1>
#else
  <h1>No definitions found</h1>
  </hr>
#end


#foreach ($definition in $word.getDefinitions())
  <ul>
    <li> <h4>$definition.getText()</h4> </li>
  </ul>
#end


</hr>

<a href="/words/$word.getId()/defintions/new">Add a definition</a>

<!-- <a href="/words/new">Add another word</a> -->
</br>
<a href="/">Return to Main Page</a>
