<p>Add a new word:</p>

<form action='/words' method="post">
  <div class="form-group">
    <label for="newWord">Enter text</label>
    <input id="newWord" name="newWord" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-info">Add</button>
</form>
