#if ($word)
  <h1>$word.getText()</h1>
  #if($word.getDefinitions().size() > 0)
  <ul>
  #foreach ($word in $words)
  <li>
    <a href="/words/$word.getId()">$word.getText()</a>
  </li>
  #end
  </ul>


#else
  <h1>Word not found</h1>
#end

<a href="/words/new">Add another word</a>
<br/>
<a href="/words">Word list</a>
