<h1>Add a Definition to $word.getText()</h1>

<form action="words" method="post">
  <input id="wordId" name="wordId" type="hidden" value="$word.getId()">

  <div class="form-group">
    <label for="definition">Enter definition</label>
    <input id="definition" name="definitino" type="text" class="form-control">
  </div>
  <button type="submit" class="btn btn-success"></button>
</form>
