<h3>These are the definitions for word $word.getText()</h3>

</hr>

#foreach ($definition in $definitions)
  <ul>
    <li> <h4>$definition.getText()</h4> </li>
  </ul>
#end

</hr>

<a href="/words">Return to Word List</a>
</br>
<a href="/words/$word.getId()/definitions/new">Add a definition</a>
