<p>Add a new word:</p>

<form action='/words' method="post">
  <div class="form-group">
    <label for="word">Enter text</label>
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-info">Add Word</button>
</form>
